/* +++++++++++++++++++++++++++++ COMMON +++++++++++++++++++++++++++++ */
html, body
{
	height: 100%;
}

body {
    /*background-color: #1b2851;*/
	margin: 0px;
	padding: 0px;

	background-color: cadetblue;
	color: crimson;
}

table
{
	border-collapse: collapse;
}

table, tr, td
{
	/*border: 1px solid red;*/
	text-align:center;
	padding: 0px;
	margin: 0px;
}

img
{
	padding: 0px;
	margin: 0px;
}

iframe
{
	height: 0px;
	visibility: hidden;
}
/* ----------------------------- COMMON ----------------------------- */

/* +++++++++++++++++++++++++++++ BANNER +++++++++++++++++++++++++++++ */
table.banners_block
{
	height: 100%;
	background-color: #1b2851;
}


table.banner
{
	width: 118px;
	height: 313px;

	background-repeat: no-repeat;
	background-image: url("banner_background.jpg");
}

table.banner img.banner_title
{
	padding-bottom: 10px;
	padding-top: 8px;
}

table.banner tr.banner_bottom
{
	height: 13px;
}

div.banners_separator
{
	height: 15px;
}
/* ----------------------------- BANNER ----------------------------- */